<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarbox!</title>
    <link rel="stylesheet" href="/css/globals.css">
    <link rel="stylesheet" href="/css/game.css">
    <script defer src="/js/common/error-view.js"></script>
    <script defer src="/js/wordfinder/picked-view.js"></script>
    <script defer src="/js/wordfinder/started-view.js"></script>
    <script defer src="/js/wordfinder/waiting-view.js"></script>
    <script defer src="/js/wordfinder/question-view.js"></script>
    <script defer src="/js/wordfinder/ended-view.js"></script>

</head>
<body>
    <div class="status-text"> </div>
    <main> </main>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.min.js"></script>
    <script src="/js/game.js"></script>
</body>
</html>