section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    text-align: center;
    width: 100%;
}

main > h2 {
    margin-top: 2vh;
    margin-bottom: 5vh;
}

.downloads {
    gap: 5vh;
}

.download {
    gap: 1vh;
}

.download > a {
    font-family: 'pt-sans', sans-serif;
    font-size: medium;
    text-decoration: underline;
    transition: transform 0.1s ease-in-out;
    color: var(--ternary);
    display: inline-block;
    overflow-wrap:break-word;
    transition: transform 0.1s ease-in-out;
}

.download > a:hover {
    transform: scale(1.1);
}