section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    text-align: center;
    width: 100%;
}

main > h2 {
    margin-top: 2vh;
    margin-bottom: 5vh;
}

.downloads {
    gap: 5vh;
}

.download {
    gap: 1vh;
}

.download > button {
    width: calc(8rem + 10vw);
}

.download > button:hover {
    transform: scale(1.1);
    cursor: pointer;
}