main {
    text-align: center;
    width: 100%;
    height: 100%;
}

.game-page {
    display: flex;
    height: 90%;
    width: 90%;
    border: 2px solid var(--primary);
    transform: translate(5%,5%);
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1vh;

    input, textarea {
        width: calc(10px + 60vw);
        font-size: calc(14px + 1vw);
        color: var(--text);
    }
}


.game-page p {
    font-size: 1.5rem;
    padding: 20px;
    color: var(--text);
}

.game-page label {
    font-size: 1rem;
    color: var(--text);
}

.game-page input {
    height: calc(30px + 5vh);
}

.game-page textarea {
    height: calc(10px + 20vh);
}

.game-page form {
    gap: 10vh;
}

.promptArea, .wordArea {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}