* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: rgb(198, 61, 47);
    --secondary: rgb(226, 94, 62);
    --ternary: #FF9B50;
    --primary-light: #FFBB5C;
    --back1: rgba(250, 0, 0, 0.2);
    --text: whitesmoke;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(68, 15, 9), rgba(0,0,0,0.85));
}

@font-face {
    font-family: 'Press-Start-2P';
    src: url('../fonts/Press-Start-2P/press-start-2p-latin-400-normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fredoka-One';
    src: url('../fonts/fredoka-one_5.0.5/webfonts/fredoka-one-latin-400-normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Press-Start-2P', sans-serif;
}

h2 {
    font-family: 'Fredoka-One', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: var(--text);
}

h3 {
    font-family: 'Fredoka-One', sans-serif;
}

p {
    font-family: 'Fredoka-One', sans-serif;
}

form {
    display: flex;
    align-items: center;
    padding-top: 5vh;
    flex-direction: column;
    gap: 2rem;
}

textarea {
    padding: 1ch;
    width: 80vw;
    resize: none;
    background-color: var(--primary);
    font-size: 1rem;
    color: var(--text);
    height: 20vh;
}

label {
    font-family: 'Fredoka-One', system-ui, sans-serif;
}

input[type=text] {
    padding-left: 1ch;
}

input, textarea {
    box-shadow: 0 2px 2px 0 var(--primary-light), 0 6px 10px 0 var(--ternary);
}

input {
    border: none;
    background-color: var(--primary);
}

.tarbox-button {
    border: none;
    border-radius: 1em;
    background-color: var(--primary);
    color: var(--ternary);
    font-family:'Fredoka-One', system-ui, sans-serif;
    font-weight: bolder;
    box-shadow: 0 2px 2px 0 var(--primary-light), 0 6px 10px 0 var(--ternary);
    width: 100px;
    height: 60px;
}

.tarbox-button:hover {
    cursor: pointer;
    background-color: var(--primary-light);
    color: var(--primary);
    transform: scale(1.10);
    transition: transform 0.1s;
}

.status-text {
    position: fixed;
    top: 0;
    background-color: rgb(119, 4, 4);
    z-index: 50;
    box-shadow: 2px 2px 5px lightblue;
    text-align: center;
    color: lightblue;
    height: fit-content;
    width: 100%;
}

@keyframes fadeIn {
    from { 
        top: -100px;
    }
    to { 
        top: 0;
    }
}

@keyframes fadeOut {
    from { 
        top: 0;
    }
    to { 
        top: -100px;
    }
}

.fade-in-animate {
    top: -100px;
    animation: fadeIn 0.25s linear forwards;
}

.fade-out-animate {
    top: 0;
    animation: fadeOut 0.25s linear forwards;
}
