* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: rgb(198, 61, 47);
    --secondary: rgb(226, 94, 62);
    --ternary: #FF9B50;
    --primary-light: #FFBB5C;
    --back1: rgba(250, 0, 0, 0.2);
    --text: whitesmoke;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(68, 15, 9), rgba(0,0,0,0.85));
}

@font-face {
    font-family: 'Press-Start-2P';
    src: url('../fonts/Press-Start-2P/press-start-2p-latin-400-normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt-sans';
    src: url('../fonts/pt-sans_5.0.12/webfonts/pt-sans-latin-400-normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt-sans';
    src: url('../fonts/pt-sans_5.0.12/webfonts/pt-sans-latin-400-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'pt-sans';
    src: url('../fonts/pt-sans_5.0.12/webfonts/pt-sans-latin-700-normal.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

.page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: var(--primary);
    color: var(--text);
    width: 100vw;
    height: fit-content;
    position: relative;
}

.page-title > h1 {
    font-size: calc(1.5rem + 4vw);
    flex-grow: 1;
    text-align: center;
}

.page-title > .page-links {
    position: absolute;
    margin-left: 2vw;
    left: 0;
    flex-grow: 1;
    justify-content: space-between;
    max-width: 25vw;
}

.page-links > a {
    font-family: 'pt-sans', sans-serif;
    font-size: medium;
    text-decoration: none;
    transition: transform 0.1s ease-in-out;
    color: var(--text);
    display: inline-block;
    overflow-wrap:break-word;
}

.page-links > a:hover {
    background-color: var(--secondary);
    transform: scale(1.1);
}

h1 {
    font-family: 'Press-Start-2P', sans-serif;
}

h2 {
    font-family: 'pt-sans', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: var(--text);
}

h3 {
    font-family: 'pt-sans', sans-serif;
}

p {
    font-family: 'pt-sans', sans-serif;
}

form {
    display: flex;
    align-items: center;
    padding-top: 5vh;
    flex-direction: column;
    gap: 2rem;
}

textarea {
    padding: 1ch;
    width: 80vw;
    resize: none;
    background-color: var(--primary);
    font-size: 1rem;
    color: var(--text);
    height: 20vh;
}

label {
    font-family: 'pt-sans', system-ui, sans-serif;
    color: var(--text);
}

input[type=text] {
    padding-left: 1ch;
    font-family: 'pt-sans', system-ui, sans-serif;
}

input, textarea {
    box-shadow: 0 2px 2px 0 var(--primary-light), 0 6px 10px 0 var(--ternary);
}

input {
    border: none;
    background-color: var(--primary);
}

.tarbox-button {
    border: none;
    border-radius: 1em;
    background-color: var(--primary);
    color: var(--ternary);
    font-family:'pt-sans', system-ui, sans-serif;
    font-weight: bold;
    box-shadow: 0 2px 2px 0 var(--primary-light), 0 6px 10px 0 var(--ternary);
    width: 100px;
    height: 60px;
}

.tarbox-button:hover {
    cursor: pointer;
    background-color: var(--primary-light);
    color: var(--primary);
    transform: scale(1.10);
    transition: transform 0.1s;
}

.status-text {
    position: fixed;
    top: 0;
    background-color: var(--ternary);
    z-index: 50;
    box-shadow: 2px 2px 5px lightblue;
    text-align: center;
    letter-spacing: .1rem;
    color: var(--primary);
    height: fit-content;
    width: 100%;
}

@media (max-width: 640px) {
    .hide-in-small {
        display: none;
    }
}


@keyframes fadeIn {
    from { 
        top: -100px;
    }
    to { 
        top: 0;
    }
}

@keyframes fadeOut {
    from { 
        top: 0;
    }
    to { 
        top: -100px;
    }
}

.fade-in-animate {
    top: -100px;
    animation: fadeIn 0.25s linear forwards;
}

.fade-out-animate {
    top: 0;
    animation: fadeOut 0.25s linear forwards;
}
